h1 {
    text-align: center;
    padding: 2%;
}
h4 {
    font-weight:500;
}
mainPoint {
    text-align: center;
    width: 200px;
    padding:1%;
    margin: 5%;
    font-size: 60px;
    border-radius: 25px;
    border: 1px solid green;
}

li {
    display: inline;
    margin: 2%;
    padding: 2%;
    font-size: 36px;
    border-radius: 25px;
    border: 1px grey solid;
    
  }

  ul {
    list-style-type: none;
    text-align: center;
  }

  .vl {
    border-right: 4px solid grey;
    height: auto;
  }

  .backButton {
      text-align: center;
      border: 1px red solid;
  }

  table, th, td {
    text-align: center;
    border: 1px dotted grey;
  }
  td{
      width: 20%;
  }
  tr {
    text-align: center;
  }